body {
	background-color: #FEFAFA;
	font-family: 'Raleway', sans-serif;;
}
.main {
	width: 100%;
}
header {
	border-bottom: 10px solid #000;
	text-align: center;
	color: #cc0000;
	text-transform: uppercase;
	font-family: 'Ultra', serif;
	line-height: 0em;
	text-shadow: 3px 3px 1px rgba(3, 3, 3, 1);
}
header p:first-of-type {
	 margin: -40px 0 -8px;
}
h1{
	font-size: 2.75em;
}
header img{
	border: 5px solid #000;
	background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 256px;
}
.content{
	width: 320px;
	margin: 0 auto;
}
.message-no-guess{
	display: none;
	color: #cc0000;
}
.btn{
	border-radius: 2px;
	padding: 4px 10px;
	background-color: #cc0000;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
.btn:hover{
	background-color: #fff;
	color: #cc0000;
}
.results{	
	text-align: center;
	}
.results ul{
	margin: 0 auto;
	padding: 0;
	width: 258px;
}
.results li{
	list-style: none;
	margin: 0 2px;
	padding: 0;
	display: inline-block;
}
.fa-heart-o{
	color: #ccc;
}
.results{
	display:none;
}
.nextBtn{
	float: left;
}
.progress{
	float: right;
}
.summary{
	color: #cc0000;
}